<%= form_for @comment, :url=>post_comments_path(@post) do |m| %>
  <%= render 'shared/error_messages', :object => m.object %>
  <div class="field">
    <%= m.text_area :content %>
  </div>

  <div class="actions">
    <%= m.submit "Submit" %>
  </div>
<% end %>